<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		
		<title>承运人信息</title>
		<link rel="stylesheet" type="text/css" href="css/sf_style.css" />
	
	</head>
	<style type="text/css">
		ul{
			overflow: hidden;
		}
	    [v-cloak]{
	        display: none;
	    }
	    
	</style>
	<body>
		<div id="appLoading">
	      <img src="image/sf_loading.gif" alt="loading" />
	    </div>
		<div id="orderDetail" >	
			<!--请求错误的反馈-->
			<div v-if="isError===true" @click="loadingagain" class="errorimg">
				<img src="image/errorbg.png" />
				加载不成功，点击屏幕重新加载
			</div>
			<div v-else-if="isWiFi===true" class="errorimg" @click="loadingagain">
				<img src="image/wifi.png" />
				网络错误，点击屏幕重新加载
			</div>
			<!--请求反馈结束-->
			<div v-else>
				<div class="sf_wrap" style="margin-bottom: 1rem;"> 
					<div class="sf_divwrap">
						<!--人物信息开始-->
						<div>
							<div class="sf_w" style="border: none;">
								<div class="GDmanmews">
									<span class="sf_imgheaderbig">
										<img :src="header_src" onerror="javascript:this.src='image/header.png';"/>
									</span>
									
									<span class="sf_imgheaderbignews">
										<p class="sf_Fhtitle">{{datas.name}}</p>
										<span class="sf_Fhtitlephone"><i class="sf_iconphone" ></i>{{datas.mobile}}</span> 
									</span>
								</div>	
							</div>	
						</div>
						<!--人物信息结束-->
					</div>
				</div>
				<div class="sf_wrap">
					<div class="sf_divwrap" style="min-height:55rem;" v-if="arrs.length!==0">
						<p class="sf_Fhtitle" style="margin: 2rem 0;">货主评价</p>
						<!--评价开始-->
						<div class="sf_w" v-for="item in arrs">
								<div class="sf_PJwrap" >
									<span class="sf_name">{{item.gname}}</span>
									<ul class="sf_Dz" v-if="item.score===1">
										<li class="active"></li>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
									</ul>
									<ul class="sf_Dz" v-else-if="item.score===2">
										<li class="active"></li>
										<li class="active"></li>
										<li></li>
										<li></li>
										<li></li>
									</ul>
									<ul class="sf_Dz" v-else-if="item.score===3">
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
										<li></li>
										<li></li>
									</ul>
									<ul class="sf_Dz" v-else-if="item.score===4">
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
										<li></li>
									</ul>
									<ul class="sf_Dz" v-else>
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
									</ul>
									<span class="sf_daytime">2017-10-17</span>
								</div>
								<p class="sf_PJwrap_p">{{item.assess}}</p>	
						</div>
						<!--评价结束-->				
					</div>
					<div class="errorimg" style="min-height:55rem;" v-else>
						<img  class="Img_news" src="image/no-pinglun.png"/>
						还没有评论
					</div>
				</div>
			</div>	
		</div>
		
	</body>
	<!--cordove相关JS-->
    <script type="text/javascript" src="../cordova.js"></script>
    <script type="text/javascript" src="../cordova_plugins.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

	<!-- 资源 -->
	<script type="text/javascript" src="appjs/resource/jquery.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/vue.js" charset="UTF-8"></script>

	<script type="text/javascript" src="appjs/contence.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/Jquery.Query.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/common.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/carrierDetail.js" charset="UTF-8"></script>
</html>
