<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		
		<title>订单详情</title>
		<link rel="stylesheet" type="text/css" href="css/sf_style.css" />
	
	</head>
	<style type="text/css">
		ul{
			overflow: hidden;
		}
	    [v-cloak]{
	        display: none;
	    }
	</style>
	<body>
		<div id="appLoading">
	      <img src="image/sf_loading.gif" alt="loading" />
	    </div>
		<div id="orderDetail" >
				<!--请求错误的反馈-->
			<div v-if="isError===true" @click="loadingagain" class="errorimg">
				<img src="image/errorbg.png" />
				加载不成功，点击屏幕重新加载
			</div>
			<div v-else-if="isWiFi===true" class="errorimg" @click="loadingagain">
				<img src="image/wifi.png" />
				网络错误，点击屏幕重新加载
			</div>
			<!--请求反馈结束-->
			<div v-else>
				<div class="sf_wrap orderheader" > 
					<section class="sf_ODheader">
						<ul>
							<li >
								<span class="sf_Fbbg1"></span>
								<span>订单生成</span>
								<span><p>{{order_dates.created_date}}</p></span>
							</li>
							<li >
								<span class="sf_Fbbg2" v-if="order_dates.allocation_date===''"></span>
								<span class="sf_Fbbg6" v-else></span>
								<span  v-if="order_dates.allocation_date===''">待派车</span>
								<span  v-else>已派车</span>
								<span  v-show="order_dates.allocation_date!==''"><p>{{order_dates.allocation_date}}</p></span>
							</li>
							<li >
								<span class="sf_Fbbg2" v-if="order_dates.deliver_date===''"></span>
								<span class="sf_Fbbg6" v-else></span>
								<span  v-if="order_dates.deliver_date===''">待发货</span>
								<span  v-else>已发货</span>
								<span  v-show="order_dates.deliver_date!==''"><p>{{order_dates.deliver_date}}</p></span>
							</li>
							<li >
								<span class="sf_Fbbg2" v-if="order_dates.receipt_date===''"></span>
								<span class="sf_Fbbg6" v-else></span>
								<span  v-if="order_dates.receipt_date===''">待收货</span>
								<span  v-else>已收货</span>
								<span  v-show="order_dates.receipt_date!==''"><p>{{order_dates.receipt_date}}</p></span>
							</li>
							<li >
								<span class="sf_Fbbg2" v-if="order_dates.assess_date===''"></span>
								<span class="sf_Fbbg6" v-else></span>
								<span  v-if="order_dates.assess_date===''">待评价</span>
								<span  v-else>已评价</span>
								<span  v-show="order_dates.assess_date!==''"><p>{{order_dates.assess_date}}</p></span>
							</li>
							<li >
								<span class="sf_Fbbg4" v-if="order_dates.assess_date===''"></span>
								<span class="sf_Fbbg5" v-else></span>
								<span  v-if="order_dates.assess_date===''">未完成</span>
								<span  v-else>已完成</span>
								<span  v-show="order_dates.assess_date!==''"><p>{{order_dates.assess_date}}</p></span>
							</li>
						</ul>
					</section>
				</div>
				<div class="sf_wrap" id="sfCardetail">
				<!--历史接单人开始-->
					<div class="sf_divwrap hmyHiscontent"  >
					<div class="histroyWrap">
						<span>接单人</span>
						<i></i>
					</div>
					<div class="hisCenter" >
						<dl>
							<dd class="hisCenterlist" v-for="(item,index) in carrierList">
								<div v-on:click="isShow(item,index)"><p>{{item.order_date}}</p><span  :class="{active:isNumber===index}"></span></div>
								<ul class="hisCenterlist_ul" v-show="isNumber===index">
									<li v-for="(items,index) in carrierList[index].demand_info">
										<a :href="'wy_OrderService.html?GoodsId='+items.cars_id+'&UserId='+items.order_user+'&OrderId='+items.order_id">
											<div class="hisCenterlist_header" >
												<img :src="appUrl+items.head_src" alt="货满运头像" v-if="item.head_src!==''"/>
												<img src="image/header.png" alt="货满运头像" v-else/>
												<span>{{items.user_name}}</span>
												<!--<span><i class="yellow_color">已接受</i></span>-->
											</div>
											<div class="cartotal">
												<span>{{items.car_no}}</span>
												<span>报价共</span>
												<span style="color: #e65c5c;">¥{{items.order_fee}}</span>
											</div>
										</a>
									</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
				<!--历史接单人结束-->
				</div>
				<div class="sf_wrap">
					<div class="sf_divwrap">
						<!--发车路线开始-->
						<div class="sf_w">
							<h1 class="sf_order_title">发车路线</h1>
							<div>
			                	<div>
			                		<div class="icon_frombg"></div>
				                    <p class="sftitle" >
				                    	{{datas.from_province}}-{{datas.from_city}}-{{datas.from_district}}
				                    </p>   
				                </div>
				                <div>
				                	<div v-show="datas.from_address!==''">
				                		<div class="icon_detailwarpbg"></div>
					                    <p class="sftitle showfontcolor" >
					                    	{{datas.from_address}}
					                    </p> 
				                	</div>
				                	<div>
				                		<div class="icon_normalline"></div>
				                	</div>	  
				                </div>
				                <div >
				                	<div class="icon_tobg"></div>
				                    <p class="sftitle2 " >{{datas.to_province}}-{{datas.to_city}}-{{datas.to_district}}</p>
				                </div>
				                <div v-show="datas.to_address!==''">
				                	<div class="icon_detailnormal"></div>
				                    <p class="sftitle2 showfontcolor" >{{datas.to_address}}</p>
				                </div>
			               </div>		
							<p class="Order_p">订单号：{{datas.order_no}}</p>
						</div>
						<!--发车路线结束-->
						<!--货物类型选择-->
						<div class="sf_w">
							<p class="sf_GDtitle">货物类型</p>
							<p ><span class="sf_GDlist" >{{datas.goods_type}}</span><span class="sf_GDlist" >{{datas.goods_weight}}{{datas.weight_unit}}</span> <!--<span class="sf_GDlist">3辆</span></p>-->
						</div>
						<!--货物类型选择结束-->
						<!--车辆类型开始-->
						<div class="sf_w">
							<p class="sf_GDtitle">车辆需求</p>
							<p ><span class="sf_GDlist" v-show="datas.car_type!==''">{{datas.car_type}}</span><span class="sf_GDlist"  v-show="datas.car_long!=='0'">{{datas.car_long}}</span><span class="sf_GDlist" v-show="datas.car_count!==0">{{datas.car_count}}辆</span></p>
						</div>
						<!--车辆类型结束-->
						<!--价格意向开始-->
						<div class="sf_w">
							<p class="sf_GDtitle">意向价格</p>
							<p ><span class="sf_GDPrice" >{{datas.price}}<i class="sf_GDPrice" v-if="datas.price!==''&&datas.price!==null">元/车</i></span></p>
						</div>
						<!--价格意向结束-->
						<!--装车时间开始-->
						<div class="sf_w">
							<p class="sf_GDtitle">装车时间</p>
							<p ><span class="sf_GDlist" >{{datas.shipment_date}}</span></p>
						</div>
						<!--装车时间结束-->
						<!--发货人电话开始-->
						<div class="sf_w">
							<p class="sf_GDtitle">发货人</p>
							<p ><span class="sf_GDphone" >{{datas.delivery_by}}</span></p>
						</div>
						<!--发货人电话结束-->
						<!--收货人电话开始-->
						<div class="sf_w">
							<p class="sf_GDtitle">收货人电话</p>
							<p ><span class="sf_GDphone" >{{datas.delivery_mobile}}</span></p>
						</div>
						<!--收货人电话结束-->
						<!--备注开始-->
						<div class="sf_w">
							<p class="sf_GDtitle">备注</p>
							<p ><span class="sf_GDlist" >{{datas.attention_remark}}</span></p>
						</div>
						<!--备注结束-->
						<!--查看司机开始-->
						<div class="sf_w">
							<p class="sf_GDtitle">用车需求</p>
							<div v-for="cars in allocation_info">
								<b class="flr carpai">{{cars.car_no}} / </b>
								<ul class="carnumberstotal flr">
									<li v-for="its in cars.driver_info"><p ><span class="sf_GDlist" v-cloak>{{its.driver_by}}</span><span  v-cloak ><a :href="its.driver_mobile" class="sf_GDphone">{{its.driver_mobile}}</a></span></p></li>
								</ul>
							</div>
						</div>
						<!--查看司机结束-->
					</div>
				</div>	
			</div>
		</div>
		
	</body>
	<!--cordove相关JS-->
    <script type="text/javascript" src="../cordova.js"></script>
    <script type="text/javascript" src="../cordova_plugins.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

	<!-- 资源 -->
	<script type="text/javascript" src="appjs/resource/jquery.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/vue.js" charset="UTF-8"></script>

	<script type="text/javascript" src="appjs/contence.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/OrderDetail.js" charset="UTF-8"></script>
</html>
