<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		
		<title>物源详情</title>
		<link rel="stylesheet" type="text/css" href="css/sf_style.css" />
	
	</head>
	<style type="text/css">
	    [v-cloak]{
	        display: none;
	    }
      
	</style>
	<body>
		<div id="appLoading">
	      <img src="image/sf_loading.gif" alt="loading" />
	    </div>
		<div id="orderDetail" >
			<div class="sf_wrap orderheader" > 
				<section class="sf_ODheader">
					<ul>
						<li >
							<span class="sf_Fbbg1"></span>
							<span>订单生成</span>
							<span><p>2017-10-10</p><p>05:35</p></span>
						</li>
						<li >
							<span class="sf_Fbbg2"></span>
							<span>待发货</span>
							<span><p>2017-10-10</p><p>05:35</p></span>
						</li>
						<li >
							<span class="sf_Fbbg2"></span>
							<span>待收货</span>
							<span><p>2017-10-10</p><p>05:35</p></span>
						</li>
						<li >
							<span class="sf_Fbbg2"></span>
							<span>待评价</span>
							<span><p>2017-10-10</p><p>05:35</p></span>
						</li>
						<li >
							<span class="sf_Fbbg4"></span>
							<span>已完成</span>
							<span><p>2017-10-10</p><p>05:35</p></span>
						</li>
					</ul>
				</section>
			</div>
			
			<div class="sf_wrap" style="margin-bottom: 1rem;" v-if="carrierList.length > 0" v-cloak> 
				<img src="" alt="" />
	
				<div class="sf_divwrap">
					<!--人物信息开始-->
					<div 	>
						<div class="sf_w">
							<h1 class="sf_order_title">接单用户</h1>
							<div  v-for ='carrier in carrierList'>
								<div class="GDmanmews">
									<span class="GDheaderImg">
										<img :src="carrier.head_src" v-if="carrier.head_src!==''" />
										<img src="image/header.png"  v-else />
									</span>
									<span class="GDheaderMx">
										<p><span class="GDheaderName">{{carrier.order_user}}</span>发货：<i class="GDheaderNum">1</i>次</p>
										<span class="sf_order_p"><i class="sf_order_i sf-icons_1" ></i>湘L WZ811</span>
										<span class="sf_order_p" style="color:#e65c5c;"><i class="sf_order_i sf-icons_2" ></i>{{carrier.order_fee}}元/车</span>
									</span>
								</div>
								<div class="sf_order_buts">
									<span class="sf_order_span1" v-if="carrier.status === 'B'" v-on:click="orderCarOptionMethod('B',carrier)">接受</span>
									<span class="sf_order_span1" v-else-if="carrier.status === 'A'">已接单</span>
									<span class="sf_order_span1" v-else-if="carrier.status === 'C'">已取消</span>
									<span class="sf_order_span1" v-else >已回绝</span>	
									<span class="sf_order_span2" v-if="carrier.status === 'B'" v-on:click="orderCarOptionMethod('D',carrier)">拒绝</span>	
									
								</div>
							</div>		
						</div>	
					</div>
					<!--人物信息结束-->
				</div>
			</div>
		<div class="sf_wrap">
			<div class="sf_divwrap">
				
                
				<!--发车路线开始-->
				<div class="sf_w">
					<h1 class="sf_order_title">发车路线</h1>
					<div>
	                	<div>
	                		<div class="icon_frombg"></div>
		                    <p class="sftitle">
		                    	{{datas.from_province}}-{{datas.from_city}}-{{datas.from_district}}
		                    </p>   
		                </div>
		                <div>
		                	<div>
		                		<div class="icon_detailwarpbg"></div>
			                    <p class="sftitle showfontcolor">
			                    	{{datas.from_address}}
			                    </p> 
		                	</div>
		                	<div>
		                		<div class="icon_normalline"></div>
		                	</div>	  
		                </div>
		                <div >
		                	<div class="icon_tobg"></div>
		                    <p class="sftitle2 " >{{datas.to_province}}-{{datas.to_city}}-{{datas.to_district}}</p>
		                </div>
		                <div >
		                	<div class="icon_detailnormal"></div>
		                    <p class="sftitle2 showfontcolor" >{{datas.to_address}}</p>
		                </div>
	                </div>		
				</div>
				<!--发车路线结束-->
				<!--货物类型选择-->
				<div class="sf_w">
					<p class="sf_GDtitle">货物类型</p>
					<p ><span class="sf_GDlist" v-cloak>{{datas.goods_type}}</span><span class="sf_GDlist" >{{datas.goods_weight}}{{datas.weight_unit}}</span> <!--<span class="sf_GDlist">3辆</span></p>-->
				</div>
				<!--货物类型选择结束-->
				<!--车辆类型开始-->
				<div class="sf_w">
					<p class="sf_GDtitle">车辆需求</p>
					<p ><span class="sf_GDlist" v-cloak>{{datas.car_type}}</span><span class="sf_GDlist" >{{datas.car_long}}</span><span class="sf_GDlist">{{datas.car_count}}辆</span></p>
				</div>
				<!--车辆类型结束-->
				<!--价格意向开始-->
				<div class="sf_w">
					<p class="sf_GDtitle">意向价格</p>
					<p ><span class="sf_GDPrice" v-cloak>{{datas.price}}元/车</span></p>
				</div>
				<!--价格意向结束-->
				<!--装车时间开始-->
				<div class="sf_w">
					<p class="sf_GDtitle">装车时间</p>
					<p ><span class="sf_GDlist" v-cloak>{{datas.shipment_date}}</span></p>
				</div>
				<!--装车时间结束-->
				<!--发货人电话开始-->
				<div class="sf_w">
					<p class="sf_GDtitle">发货人</p>
					<p ><span class="sf_GDphone" v-cloak>{{datas.delivery_by}}</span></p>
				</div>
				<!--发货人电话结束-->
				<!--收货人电话开始-->
				<div class="sf_w">
					<p class="sf_GDtitle">收货人电话</p>
					<p ><span class="sf_GDphone" v-cloak>{{datas.delivery_mobile}}</span></p>
				</div>
				<!--收货人电话结束-->
				<!--备注开始-->
				<div class="sf_w">
					<p class="sf_GDtitle">备注</p>
					<p ><span class="sf_GDlist" v-cloak>{{datas.attention_remark}}</span></p>
				</div>
				<!--备注结束-->
			</div>
		</div>

		</div>
		
	</body>
	<!--cordove相关JS-->
    <script type="text/javascript" src="../cordova.js"></script>
    <script type="text/javascript" src="../cordova_plugins.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

	<!-- 资源 -->
	<script type="text/javascript" src="appjs/resource/jquery.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/vue.js" charset="UTF-8"></script>
	
	<script type="text/javascript" src="appjs/contence.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/ProvenanceDetail.js" charset="UTF-8"></script>
</html>
