<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		
		<title>预订人详情</title>
		<link rel="stylesheet" type="text/css" href="css/sf_style.css" />
	
	</head>
	<style type="text/css">
	    [v-cloak]{
	        display: none;
	    }
      
	</style>
	<body>
		<div id="appLoading">
	      <img src="image/sf_loading.gif" alt="loading" />
	    </div>
		<div id="orderDetail" >
			<!--请求错误的反馈-->
			<div v-if="isError===true" @click="loadingagain" class="errorimg">
				<img src="image/errorbg.png" />
				加载不成功，点击屏幕重新加载
			</div>
			<div v-else-if="isWiFi===true" class="errorimg" @click="loadingagain">
				<img src="image/wifi.png" />
				网络错误，点击屏幕重新加载
			</div>
			<!--请求反馈结束-->
			<div v-else>
				<div class="sf_wrap" id="sfCardetail">
					<div class="sf_divwrap hmyHiscontent"  >
						<!--人物信息开始-->
							<div>
								<div class="sf_w">
									<div class="GDmanmews">
										<a :href="'carrierDetail.html?UserId='+UserId+'&OrderId='+OrderId">
										<span class="sf_imgheaderbig">
											<img :src="header_src" onerror="javascript:this.src='image/header.png';"/>
										</span>
										
										<span class="sf_imgheaderbignews">
											<p class="sf_Fhtitle">{{datas.name}}</p>
											<span class="sf_Fhtitlephone"><i class="sf_iconphone" ></i>{{datas.mobile}}</span> 
										</span>
										<i class="iconnext"></i>
										</a>
									</div>
									<div class="hisCenter sf_mtp"  >
										<dl>
											<dd class="hisCenterlist" >	
												<ul class="hisCenterlist_ul" >
													<li  class="caDeOrder">
														<div>
															<span>{{booker_Info.car_count}}辆车</span>
															<span>报价共</span>
															<span style="color: #e65c5c;">¥{{booker_Info.order_fee}}</span>
														</div>
														<div class="sf_mtp8">
															<span>装车时间：{{booker_Info.shipment_date}}</span>
														</div>
													</li>
												</ul>
											</dd>
										</dl>
									</div>
								</div>	
							</div>
						<!--人物信息结束-->
					</div>
					<div class="sf_divwrap hMYsection"  >
						<!--车辆信息开始-->
							<div class="allcarlist" >
								<div class="histroyWrap" style="margin-bottom: 0rem;">
								<span>预定车型</span>
							</div>
							<ul id="carWraps">	
								<li v-for="(item,index) in arrs">
									<div class="carWrapsleft" style="width:100%;" >
										<div class="topnews"><i class="iconcar"></i><span class="sf_mrt1 verticalm" v-show="item.car_no!==null">{{item.car_no}}</span>
											<span class="gray_color">{{item.car_long}}</span>
											<span class="gray_color">{{item.dead_weight}}<i class="gray_color" v-show="item.dead_weight!=='任意载重量'">吨</i> </span>
											<span class="gray_color">{{item.car_size}}<i class="gray_color" v-show="item.car_size!=='任意体积'">方</i></span>
										</div>
										<div><i class="iconmoney"></i><span class="sf_mrt1 red_color verticalm">{{item.order_fee}}元/车</span></div>
										<span class="flr_r hmyhuang_color" v-if="item.status==='A'">已接受</span>
										<span class="flr_r hmygreen_color" v-else-if="item.status==='B'">待确认</span>
										<span class="flr_r hmyhui_color" v-else-if="item.status==='C'">已取消</span>
										<span class="flr_r hmyhui_color" v-else-if="item.status==='D'">已回绝</span>
										<span class="flr_r hmyhui_color" v-else>已撤消</span>
									</div>		
								</li>
							</ul>
						</div>
						<!--车辆信息结束-->
					</div>
				</div>
			</div>
		</div>
		
	</body>
	<!--cordove相关JS-->
    <script type="text/javascript" src="../cordova.js"></script>
    <script type="text/javascript" src="../cordova_plugins.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

	<!-- 资源 -->
	<script type="text/javascript" src="appjs/resource/jquery.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/vue.js" charset="UTF-8"></script>
	
	<script type="text/javascript" src="appjs/contence.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/Jquery.Query.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/resource/common.js" charset="UTF-8"></script>
	<script type="text/javascript" src="appjs/wy_ OrderServiceCar.js" charset="UTF-8"></script>
</html>
